/* Reset margin dan padding untuk semua elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Efek scrolling */
html {
    scroll-behavior: smooth;
}

/* Default body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1c2127;
    line-height: 1.6;
    color: #e7f1fb;
    padding: 0 20px;
}

/* Navbar Section */
header {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
}

nav ul.navbar {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 10px 20px;
    background-color: #0b385f;
    border: 2px solid #3373b0;
    border-radius: 25px;
}

nav ul.navbar li {
    display: inline-block;
}

nav ul.navbar li a {
    color: #e7f1fb;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul.navbar li a:hover {
    background-color: #3373b0;
    color: #ffffff;
    border-radius: 20px;
}

/* Hero Section */
.hero {
    height: 80vh;
    background: linear-gradient(to bottom, #3373b0, #1c2127);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #e7f1fb;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 20px;
}

.hero-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: url('assets/Azul.JPG') no-repeat center center;
    background-size: cover;
    position: relative;
    box-shadow: 0 0px 100px -35px rgba(0,0,0,0.3);
    animation: glow 3s ease-in-out infinite alternate;
    border: 3px solid transparent; 
    border-color: #ffffff;
}

@keyframes glow {
    0% {
        box-shadow: 0 0px 100px -35px rgba(0,0,0,0.3);
    }
    100% {
        box-shadow: 0 0px 30px 15px rgba(0,179,255, 0.8), 0 0px 80px 30px rgba(0,179,255, 0.4);
    }
}

.hero-text {
    text-align: left;
    max-width: 700px; 
}

.hero-text h1 {
    font-size: 2rem;
    background: linear-gradient(90deg, #bed4e9, #005081);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
}

.hero-text .name {
    font-size: 3rem; 
    background: linear-gradient(90deg, #ffffff, #99ccff); 
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
}

.hero-text p {
    font-size: 1.1rem;
    background: linear-gradient(90deg, #ffffff, #99ccff);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
}

.hero-text .rotating-text {
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #99ccff);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
}

@keyframes rotateText {
    0%, 25% {
        content: "Informatics Engineering Student";
    }
    26%, 50% {
        content: "Back End Developer";
    }
    51%, 75% {
        content: "UI/UX Designer";
    }
    76%, 100% {
        content: "Data Science Enthusiast";
    }
}

/* Deskripsi */
.description {
    margin-top: 10px;
    color: #e0efff;
    font-size: 1rem; 
    max-width: 700px;
    line-height: 1.6;
}

/* Achievements Section */
.achievements {
    background: linear-gradient(to bottom, #1c2127,  #0b385f);
    padding: 50px 20px;
}

.achievements h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #e7f1fb;
}

.achievements-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.achievement-card {
    background: linear-gradient(135deg, #3373b0, #1c2127);
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 0 1 calc(32% - 20px);
}

.achievement-card:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 10px 30px rgba(0, 179, 255, 0.5); 
}

.achievement-card:hover .card-image {
    transform: scale(1.1);
}

.card-image {
    width: 100px;
    height: 100px;
    background: url('https://via.placeholder.com/100') no-repeat center center;
    background-size: cover;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.card-content h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #bed4e9;
}

.card-content p {
    color: #e7f1fb;
    font-size: 1rem;
}

/* Contact Section */
.contact {
    background-color: #1c2127;
    padding: 50px 20px;
    text-align: center;
}

.contact h1 {
    font-size: 3rem;
    color: #e7f1fb;
}

.contact-buttons {
    margin-top: 20px;
}

.magic-button {
    background-color: #0b385f;
    color: #e7f1fb;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.magic-button:hover {
    background-color: #3373b0;
}

.social-icons {
    margin-top: 20px;
}

.social-icon img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2);
}

.contact h1::after {
    content: url('assets/Touch.svg');
    display: block;
    margin: 10px auto; 
    width: 50px; 
    height: auto; 
}

.magic-button {
    background: linear-gradient(90deg, #bed4e9 0%, #3373b0 100%);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.magic-button:hover {
    background: linear-gradient(90deg, #3373b0 0%, #bed4e9 100%);
    transition: background 0.3s ease;
}

/* Projects Section */
.projects {
    background-color: #1c2127;
    background: linear-gradient(to bottom, #0b385f, #3373b0);
    padding: 50px 20px;
}

.projects h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #e7f1fb;
}

.projects-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background: linear-gradient(135deg, #3373b0, #1c2127);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 300px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card p {
    margin-bottom: 20px; /* Gap antara paragraf dan button */
    text-align: justify; 
}

.project-card:hover {
    transform: scale(1.05); /* Menambahkan efek hover */
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.project-card .card-image {
    width: 100%;
    height: 200px; 
    overflow: hidden;
}

.project-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card .card-content {
    padding: 20px;
    text-align: center;
}

.project-card .magic-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3373b0;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-card .magic-button:hover {
    background-color: #0b385f;
}

/* Skills Section */
.skills {
    background: linear-gradient(to bottom, #3373b0, #1c2127);
    padding: 50px 20px;
}

.skills h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #e7f1fb;
}

.skills-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
}

.skill-card {
    background: linear-gradient(135deg, #3373b0, #1c2127);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    flex: 0 1 calc(32% - 20px); 
    color: #e7f1fb;
    width: 300px;
}

.skill-card .card-image {
    background: url('assets/Skill.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 370px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px 0;
    gap: 10px;
}

.skill-card .card-image img {
    max-width: 50px; 
    max-height: 50px;
    object-fit: contain;
}

.skill-card .card-content h2 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.skill-card .card-content p {
    font-size: 1rem;
    color: #bed4e9;
    text-align: justify; 
}

.skill-card:hover {
    transform: translateY(-10px);
}

/* General Card Styles */
.card-image {
    overflow: hidden;
    border-radius: 5px;
}

.card-image img {
    width: 100%; 
    height: auto;
}

/* Section ketiganya */
.achievement-card, .project-card, .skill-card {
    background-color: #2a3036;
    border-radius: 8px;
    width: calc(33.33% - 20px); 
    margin: 10px;
    padding: 15px;
    transition: transform 0.3s;
    box-sizing: border-box; 
}

.achievement-card:hover, .project-card:hover, .skill-card:hover {
    transform: scale(1.05);
}

.achievements h1, .projects h1, .skills h1, .contact h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #ffffff, #99ccff); 
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    text-align: center; 
}

@media (max-width: 768px) {
    .achievement-card, .project-card, .skill-card {
        width: calc(50% - 20px); /* 2 cards in a row on smaller screens */
    }
}

@media (max-width: 480px) {
    .achievement-card, .project-card, .skill-card {
        width: 100%; /* 1 card in a row on mobile */
    }
}

/* Button Styles */
.magic-button {
    background-color: #3d8cbf;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block; 
}

.magic-button:hover {
    background-color: #3373b0;
}

.achievement-card h3 {
    margin-bottom: 10px; /* Gap antara header dan paragraf */
}

.achievement-card p {
    margin-bottom: 20px; /* Gap antara paragraf dan button */
    text-align: justify;
}

.achievement-card .view-doc-button {
    margin-top: auto; 
    font-size: 0.9rem; 
    padding: 8px 16px; 
    display: block;
    text-align: center;
}

.achievement-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.achievement-card img {
    width: 100px;
    height: 100px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.project-card img {
    width: 100px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
}

/* CV */
.cv-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff; 
    border: 3px solid transparent; 
    border-color: #ffffff;
    border-radius: 25px; 
    background: #3373b0; 
    text-decoration: none;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: background 0.3s, border-color 0.3s; 
    justify-content: left;
}

.cv-button:hover {
    background-color: #99ccff; 
    border-color: #ffffff; /* Ubah warna border saat hover */
}

/* Copyright */
.copyright {
    text-align: center;
    margin: 20px 0;
    color: #888;
}