/* Reset margin dan padding untuk semua elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Efek scrolling */
html {
    scroll-behavior: smooth;
}

/* Default body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1c2127;
    line-height: 1.6;
    color: #e7f1fb;
    padding: 0 0;
    padding-top: 25px; 
}

/* Navbar Section */
header {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
}

nav ul.navbar {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 10px 20px;
    background-color: #0b385f;
    border: 2px solid #e7f1fb;
    border-radius: 25px;
    position: fixed; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1000; 
    width: auto; 
}

nav ul.navbar li {
    display: inline-block;
}

nav ul.navbar li a {
    color: #e7f1fb;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul.navbar li a:hover {
    background-color: #3373b0;
    color: #ffffff;
    border-radius: 20px;
}

.hero {
    height: 80vh;
    background: linear-gradient(to bottom, #1c2127, #0b385f);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #e7f1fb;
    position:relative;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 20px;
}

.hero-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: url('assets/Azul.JPG') no-repeat center center;
    background-size: cover;
    position: relative;
    box-shadow: 0 0px 100px -35px rgba(0,0,0,0.3);
    animation: glow 3s ease-in-out infinite alternate;
    border: 3px solid transparent; 
    border-color: #ffffff;
}

@keyframes glow {
    0% {
        box-shadow: 0 0px 100px -35px rgba(0,0,0,0.3);
    }
    100% {
        box-shadow: 0 0px 30px 15px rgba(0,179,255, 0.8), 0 0px 80px 30px rgba(0,179,255, 0.4);
    }
}

.hero-text {
    text-align: left;
    max-width: 700px; 
}

.hero-text h1 {
    font-size: 2rem;
    background: linear-gradient(90deg, #bed4e9, #005081);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
}

.hero-text .name {
    font-size: 3rem; 
    background: linear-gradient(90deg, #ffffff, #99ccff); 
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
}

.hero-text p {
    font-size: 1.1rem;
    background: linear-gradient(90deg, #ffffff, #99ccff);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
}

.hero-text .descripting-text {
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #99ccff);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
}

/* Deskripsi */
.description {
    margin-top: 10px;
    color: #e0efff;
    font-size: 1rem; 
    max-width: 700px;
    line-height: 1.6;
}

/* Achievements Section */
.achievements {
    background: linear-gradient(to bottom, #0b385f, #3373b0);
    padding: 50px 20px;
}

.achievements h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #e7f1fb;
}

.achievements-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.achievement-card {
    background: linear-gradient(135deg, #3373b0, #1c2127);
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 0 1 calc(32% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 400px; 
    box-sizing: border-box;
}

.achievement-card:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 10px 30px rgba(0, 179, 255, 0.5); 
}

.achievement-card:hover .card-image {
    transform: scale(1.1);
}

.achievement-card h3 {
    margin-bottom: 10px; 
}

.achievement-card p {
    margin-bottom: 20px; 
    text-align: justify;
}

.achievement-card .view-doc-button {
    margin-bottom: 10px; 
    margin-top: auto; 
    font-size: 0.9rem; 
    padding: 8px 16px; 
    display: block;
    text-align: center;
}

.achievement-card img {
    width: 100px;
    height: 100px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.achievement-card .card-image {
    width: 100px;
    height: 100px;
    background: url('https://via.placeholder.com/100') no-repeat center center;
    background-size: cover;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.card-content h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #bed4e9;
}

.card-content p {
    color: #e7f1fb;
    font-size: 1rem;
}

.achievement-card::after {
    content: '';
    display: block;
    height: 10px; 
}

/* Contact Section */
.contact {
    background-color: #1c2127;
    padding: 50px 20px;
    text-align: center;
    color: #e7f1fb;
}

.contact h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto;
    max-width: 1200px;
}

.contact-form, .contact-buttons {
    flex: 1;
    min-width: 300px;
}

.contact-form {
    background-color: #0b385f;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 1rem;
    color: #bed4e9;
    display: block;
    margin-bottom: 8px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #3373b0;
    background-color: #1c2127;
    color: #e7f1fb;
    outline: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: border 0.3s ease;
}

.contact-form input:focus, .contact-form textarea:focus {
    border: 1px solid #bed4e9;
    background-color: #2b333e;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #3373b0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    background-color: #bed4e9;
    color: #1c2127;
    transform: translateY(-3px);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Social Media Buttons and Text */
.contact-buttons h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 40px;
    line-height: 1.5;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px; 
}

/* Social Icons */
.social-icons-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.social-icon img {
    width: 40px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2);
}

/* Button Style */
.magic-button {
    background: linear-gradient(90deg, #bed4e9 0%, #3373b0 100%);
    color: white;
    padding: 10px 20px;
    border: 3px solid transparent; 
    border-color: #ffffff;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.magic-button:hover {
    background: linear-gradient(90deg, #3373b0 0%, #bed4e9 100%);
    transition: background 0.3s ease;
    color: #1c2127;
}

/* Projects Section */
.projects {
    background-color: #1c2127;
    background: linear-gradient(to bottom, #3373b0, #0b385f);
    padding: 50px 20px;
}

.projects h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #e7f1fb;
}

.projects-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background: linear-gradient(135deg, #3373b0, #1c2127);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 300px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-direction: column;
    justify-content: space-between;
}

.project-card p {
    margin-bottom: 20px; 
    text-align: justify; 
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.project-card .card-image {
    width: 100%;
    height: 200px; 
    overflow: hidden;
    border-radius: 5px; 
}

.project-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card .card-content {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.project-card .magic-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3373b0;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.project-card .magic-button:hover {
    background-color: #0b385f;
    color: #1c2127;
}

.project-card img {
    width: 100px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
}

/* Skills Section */
.skills {
    background: linear-gradient(to bottom, #0b385f, #1c2127);
    padding: 50px 20px;
}

.skills h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #e7f1fb;
}

.skills-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
}

.skill-card {
    background: linear-gradient(135deg, #3373b0, #1c2127);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    flex: 0 1 calc(32% - 20px); 
    color: #e7f1fb;
    width: 300px;
    box-sizing: border-box;
}

.skill-card .card-image {
    background: url('assets/Skill.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px 0;
    gap: 10px;
}

.skill-card .card-image img {
    max-width: 50px; 
    max-height: 50px;
    object-fit: contain;
}

.skill-card .card-content h2 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.skill-card .card-content p {
    font-size: 1rem;
    color: #bed4e9;
    text-align: justify; 
}

.skill-card:hover {
    transform: translateY(-10px);
}

/* Section ketiganya */
.achievement-card, .project-card, .skill-card {
    background-color: #2a3036;
    border-radius: 8px;
    width: calc(33.33% - 20px); 
    margin: 10px;
    padding: 15px;
    transition: transform 0.3s;
    box-sizing: border-box; 
}

.achievement-card:hover, .project-card:hover, .skill-card:hover {
    transform: scale(1.05);
}

.achievements h1, .projects h1, .skills h1, .contact h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #ffffff, #99ccff); 
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    text-align: center; 
}

/* CV */
.cv-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: background 0.3s, border-color 0.3s; 
    justify-content: left;
    background: linear-gradient(90deg, #bed4e9 0%, #3373b0 100%);
    color: white;
    padding: 10px 20px;
    border: 3px solid transparent; 
    border-color: #ffffff;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}

.cv-button:hover {
    border-color: #ffffff; 
    background: linear-gradient(90deg, #3373b0 0%, #bed4e9 100%);
    transition: background 0.3s ease;
    color: #1c2127;
}

/* Copyright */
.copyright {
    text-align: center;
    margin: 20px 0;
    color: #888;
}

/* Media Query */
/* Untuk max-width: 1148px */
@media (max-width: 1148px) {
    .hero-text h1 {
        font-size: 1.8rem;
    }

    .hero-text .name {
        font-size: 2.7rem;
    }

    .hero-image {
        width: 300px;
        height: 300px;
    }

    .achievement-card {
        flex: 0 1 calc(48% - 20px);
    }
}

/* Untuk max-width: 1000px */
@media (max-width: 1000px) {
    nav ul.navbar {
        gap: 15px;
        padding: 10px;
    }

    .hero-content {
        flex-direction: column;
        gap: 2rem;
    }

    .hero-text h1 {
        font-size: 1.6rem;
    }

    .hero-text .name {
        font-size: 2.5rem;
    }

    .achievement-card {
        flex: 0 1 calc(48% - 10px);
    }

    .achievement-card, .project-card, .skill-card {
        width: calc(50% - 20px);
    }
}

/* Untuk max-width: 900px */
@media (max-width: 900px) {
    nav ul.navbar {
        padding: 8px;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text .name {
        font-size: 2.3rem;
    }

    .hero-image {
        width: 250px;
        height: 250px;
    }

    .achievement-card {
        flex: 0 1 calc(100% - 20px);
    }
}

/* Untuk max-width: 600px */
@media (max-width: 600px) {
    nav ul.navbar {
        flex-direction: column;
        gap: 10px;
    }

    .hero-text h1 {
        font-size: 1.2rem;
    }

    .hero-text .name {
        font-size: 2rem;
    }

    .hero-image {
        width: 200px;
        height: 200px;
    }

    .achievement-card {
        flex: 0 1 calc(100% - 10px);
    }

    .contact-container {
        flex-direction: column;
    }

    .hero-content {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .hero-text p, .cv-button {
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
    }

    .cv-button {
        display: block;
        margin: 10px auto;
    }
}

/* Untuk max-width: 390px */
@media (max-width: 390px) {
    nav ul.navbar {
        display: none;
    }

    .hero-text h1 {
        font-size: 1rem;
    }

    .hero-text .name {
        font-size: 1.8rem;
    }

    .hero-image {
        width: 150px;
        height: 150px;
    }

    .achievement-card, .project-card, .skill-card {
        padding: 10px;
        width: 100%;
    }

    .cv-button {
        display: block;
        margin: 15px auto;
    }

    .hero-content {
        text-align: center;
        align-items: center;
        padding: 20px;
    }

    .hero-text h1, .hero-text p {
        margin: 0 auto;
        text-align: center;
        max-width: 90%;
    }

    .submit-btn {
        font-size: 0.9rem;
    }

    .contact-form {
        padding: 20px;
    }

    .magic-button {
        font-size: 0.8rem;
        padding: 8px 16px;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-card {
        width: 90%;
        margin: 10px 0;
    }
}